<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rr2020.covid19fsy.covid19fsy">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
